<table class="racer_table">

  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2><%= @player1.name %> and <%= @player2.name %> start your engines!</h2>
<h2><%= @player1.name %> press the 'Q' and <%= @player2.name %> press the 'P'!</h2>
