<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h2>Enter names for two players</h2>

<form action="/board" method="POST">
    <div>
        <label>Name1: <input type="text" name= "player1"></label>
    </div>
    <div>
        <label>Name2: <input type="text" name= "player2"></label>
    </div>
    <div>
        <input type="submit" value="Go to game board">
    </div>
</form>

<h2></h2>
